*{
    margin:0;
    padding:0
}
body{
    background-color: lightgray;
}
header{
    position:fixed;
    z-index: 1000;
    top:0px;
    background: -webkit-radial-gradient(ellipse, #b0dee6, #7dabe6); 
    background: -moz-radial-gradient(ellipse, #b0dee6, #7dabe6);    
    background: radial-gradient(ellipse, #b0dee6, #7dabe6);  
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-small;
    padding:10px;
    height: 120px;
    width: 100%;
}
header img{
    height: 80px;
    width: auto;
}
footer{
    background: -webkit-radial-gradient(ellipse, #b0dee6, #7dabe6); 
    background: -moz-radial-gradient(ellipse, #b0dee6, #7dabe6);    
    background: radial-gradient(ellipse, #b0dee6, #7dabe6);  
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}
footer a{
    text-decoration: none;
}
nav{
    position:fixed;
    z-index: 1000;
    top:120px;
    width: 100%;
    background-color: #15123d;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 40px;
}
#column{
    margin-top: 160px;
}
.nav-list{
    list-style: none;
    display:flex
}
ul:not(.nav-list) {
  list-style-type: disc;
  padding-left: 20px;
  
}
nav ul li a{
    text-decoration: none;
    color: aliceblue ;
    padding:0 20px
}
nav a:hover{
    color:red
}
nav a:visited{
    color:yellow
}
nav a:active{
    color:purple
}

#column{
    width: 100%;
    height: auto;
}
#column1{
    float: left;
    width: 50%;
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#column1 h2{
    margin:50px;
}
video{
    margin:30px;
}
#column2{
    float: right;
    width: 50%;
    height: 600px; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
video{
    height:auto;
    width: 400px;
    
}
#table-block{
    text-align: center;
    padding: 10;
}
table{
    margin: 0 auto; 
    margin-bottom: 20px;
    clear:both;
    border-collapse: collapse;
}
table th,tr,td{
        border:1px solid black;
}
table th{
    height: 40px;
}
table td{
    height: 30px;
}
table th{
    background-color: #81b3db;
}
table .even{
    background-color: skyblue;
}